{% extends 'base.html'%}

{% block title %}
Все публикации
{% endblock %}


{% block content %}
<h1>Все публикации</h1>

<div class="row">
    <div class="col-md-6 item">
      <div class="item-in">
        <h4>Some Kind of Title</h4>
        <div class="seperator"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi expedita eveniet consectetur, voluptates voluptatum, sit excepturi earum. Veniam eius amet, accusantium, deserunt officia, quos qui debitis laboriosam velit quis autem!</p>
        <a href="#">Read More
          <i class="fa fa-long-arrow-right"></i>
        </a>
      </div>
    </div>
    <div class="col-md-6 item">
      <div class="item-in">
        <h4>Some Kind of Title</h4>
        <div class="seperator"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi expedita eveniet consectetur, voluptates voluptatum, sit excepturi earum. Veniam eius amet, accusantium, deserunt officia, quos qui debitis laboriosam velit quis autem!</p>
        <a href="#">Read More
          <i class="fa fa-long-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
{% endblock %}